if theme.meting.enable
    script.
        var meting_api= '!{ theme.meting.meting_api }'

    style.
        .aplayer {
            color: initial;
            text-align: initial;
        }

    link(
        rel="stylesheet"
        href="https://unpkg.2333332.xyz/aplayer/dist/APlayer.min.css"
    )

    script(src="https://unpkg.2333332.xyz/aplayer/dist/APlayer.min.js")
    script(src="https://unpkg.2333332.xyz/@xizeyoupan/meting@latest/dist/Meting.min.js")

    meting-js(
        server = theme.meting.server
        type = theme.meting.type
        id = theme.meting.id
        fixed = `${theme.meting.fixed}`
        order = theme.meting.order
    )
