if theme.meting.enable

    if theme.meting.id
        meting-js(
            server = theme.meting.server
            type = theme.meting.type
            id = theme.meting.id
            fixed = `${theme.meting.fixed}`
            order = theme.meting.order
        )

    if theme.meting.aplayer.enable
        div(id='theme-aplayer')

        script.

            fetch('!{ theme.meting.aplayer.url }')
            .then(res => res.json())
            .then(res => {

                let options = {
                    audio: res,
                    mutex: true,
                    fixed : '!{ theme.meting.fixed }',
                    order : '!{ theme.meting.order }',
                    lrcType: 3,
                }

                options.container = document.getElementById('theme-aplayer')
                const _aplayer = new APlayer(options)
            })
